:root {
  --primary: #A6C2EE;
  --light: #FEFEFE;
  --dark: #54667D;
  --background: #F5EFEC;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.project h2 a {
  font-family: 'Questrial', sans-serif!important;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0;
  color: var(--dark);
}
.project h2:hover {
  color: #3f4f65;
}

.project p {
  /* font-size: 3rem; */
  margin-bottom: 0;
}

.project p:hover {
  color: #3f4f65;
}

.projectImage {
  width: 100%;
  transition: 0.3s;

}

.projectImage:hover {
  opacity: 30%;
}

@media (min-width: 768px) {
  .project {
    width: calc(33.33% - 10px);
  }
}
