:root {
  --primary: #A6C2EE;
  --light: #FEFEFE;
  --dark: #54667D;
  --background: #F5EFEC;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: calc(50% - 5px);
  height: 150px;
  margin-bottom: 10px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.project h2 {
  margin-top: 0;
}

.project p {
  font-size: 3rem;
  margin-bottom: 0;
}

.projectImage {
  width: auto;
}

@media (min-width: 768px) {
  .project {
    width: calc(33.33% - 10px);
    height: 300px;
  }
}
