:root {
  --primary: #A6C2EE;
  --light: #FEFEFE;
  --dark: #54667D;
  --background: #F5EFEC;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.project h2 a {
  font-family: 'Questrial', sans-serif!important;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0;
  color: var(--dark);
  white-space: nowrap
}

.projectImage {
  width: 100%;
  opacity: 65%;
  transition: 0.3s;
}

.project:hover  .projectImage {
  opacity: 15%;
}

.project:hover .overlay .text {
  display: block;
}

.project .overlay .text {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .project {
    width: calc(33.33% - 10px);
  }
}